# Build artifacts
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.out
*.app

# Debugging files
*.gdb
*.core

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*~
\#*\#
*.xcworkspace
*.xcuserdatad
.idea/workspace.xml
*.iml
*.iws


# OS-specific files
.DS_Store
Thumbs.db

# CMake and Make build files
Makefile
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build/
cmake-build-*
*.ninja
build.ninja
Testing/

# Logs and temporary files
*.log
*.tmp

# Local dependencies
libs/

#How to compile
run.txt

todo.txt
